
.navbar {
    background-color: var(--white);
    border-bottom: 2px solid var(--orange);
}

.navbar-toggler-item {
    color: var(--purple);
}

.hamburger {
    color: var(--purple);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem var(--white);
}

.navbar-brand {
    background-image: url("/assets/images/logo4x4.png");
    height: 10rem;
    width: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-brand:hover {
    transform: scale(1.2);
    transition: 1s;
}

.nav-link {
    color: var(--purple);
    border-bottom: 2px solid var(--white);
}

.nav-link:hover {
    transition: 0.5s ease-in;
    color: var(--purple);
    border-bottom: 2px solid var(--purple);
    box-shadow: inset 0px 0px 8px 0px var(--purple);
    border-radius: 20%;
}

.nav-link:focus {
    color: var(--white);
    background-color: var(--dark-grey);
    box-shadow: inset 0px 0px 8px 0px var(--purple);
    border-radius: 20%;
}
